<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="form-group">
                <label for="txtCPF">Valor</label>

                <div class="input-group">
                    <span class="input-group-text">R$</span>
                    <input type="number" [attr.disabled]="false" class="form-control" id="txtValor" placeholder="Valor" step="0.01" min="0" [ngModel]="targetMensalidade.Valor | number : '1.2-2' ">
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="form-group">
                <label for="txtCPF">Status</label>
                <input type="number" [attr.disabled]="true" class="form-control" id="txtParcela" placeholder="Parcelas" step="1" min="0"
                    max="12" [(ngModel)]="targetMensalidade.MensaliadadeStatus.Nome">
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="form-group">
                <label for="txtCPF">Vencimento</label>
                <input type="text" [attr.disabled]="true" class="form-control" id="txtVencimento" placeholder="Primeiro Vencimento" [ngModel]="targetMensalidade.Vencimento  | date:'dd/MM/yyyy'">
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-sm-12  col-md-12  col-lg-12 ">
            <div class="form-group">
                <label for="txtCPF">Código de Barras</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="txtBoleto" aria-label="Recipient's username" aria-describedby="basic-addon2"
                        [ngModel]="targetPagamentoPagSeguro.BarCode  ">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" (click)="copyToClipboard()" type="button">Copiar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

