<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="form-group">
                <label for="txtCPF">Valor</label>
                <input type="text" [attr.disabled]="isEditavel" class="form-control" id="txtCPF" placeholder="CPF" [(ngModel)]="targetUsuario.CPF">
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="form-group">
                <label for="txtCPF">Parcelas</label>
                <input type="text" [attr.disabled]="isEditavel" class="form-control" id="txtCPF" placeholder="CPF" [(ngModel)]="targetUsuario.CPF">
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="form-group">
                <label for="txtCPF">Vencimento</label>
                <input type="text" [attr.disabled]="isEditavel" class="form-control" id="txtCPF" placeholder="CPF" [(ngModel)]="targetUsuario.CPF">
            </div>
        </div>

    </div>
</div>