<div class="row">
  <div class="col-sm-12 d-none d-sm-block col-md-6 col-lg-8 col-xl-8">
    <!-- BANNER  -->
  </div>

  <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
    <div class="form-signin">
      <div class="card">
        <div class="card-body">
          <h3>Basic Flux</h3>

          <label for="inputEmail">Email ou Login</label>
          <input type="text" (keyup.enter)="Login()" [attr.disabled]="(lstAcademia && lstAcademia.length > 0)?'':null" [(ngModel)]="oUsuario.Email"
            id="inputEmail" class="form-control" placeholder="Email ou Login">

          <label for="inputPassword">Senha</label>
          <input type="password" (keyup.enter)="Login()" [attr.disabled]="(lstAcademia && lstAcademia.length > 0)?'':null" [(ngModel)]="oUsuario.Senha"
            id="inputPassword" class="form-control" placeholder="Senha">

          <label *ngIf="lstAcademia && lstAcademia.length > 1" for="inputPassword">Academia</label>
          <select *ngIf="lstAcademia && lstAcademia.length > 1" (keyup.enter)="SetAcademia(oAcademia)" [(ngModel)]="oAcademia" class="form-control"
            id="exampleFormControlSelect1">
            <option *ngFor="let oAcademia of lstAcademia" [ngValue]="oAcademia">{{oAcademia.Nome}}</option>
          </select>

          <button style="margin-top: 15px;" *ngIf="!lstAcademia || lstAcademia.length == 0" class="btn btn-lg btn-primary btn-block"
            (click)="Login()">Entrar</button>
          <button *ngIf="!lstAcademia || lstAcademia.length == 0" class="btn btn-lg btn-alternative btn-block" type="submit" (click)="ForgetPassword()">Esqueci a senha</button>
          <button style="margin-top:15px;" *ngIf="lstAcademia && lstAcademia.length > 1" class="btn btn-lg btn-primary btn-block" (click)="SetAcademia(oAcademia)">Entrar</button>
        </div>
      </div>
    </div>
  </div>

</div>
<p class="mt-5 mb-3 text-muted text-center" style="color: white!important">© 2017-2018</p>
