<div class="text-center">
    <div class="form-signin">
        <img class="mb-4" src="../assets/img/the_flux_icon.png" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Esqueceu sua senha?</h1>
        <label for="inputEmail" class="sr-only">CPF</label>
        <input type="text" (keyup.enter)="SendPassword()" [(ngModel)]="oUsuario.CPF" id="inputEmail" class="form-control" placeholder="CPF"
            gcMask="999.999.999-99" appInputCPFDirective>
        <button style="margin-top:15px;" class="btn btn-lg btn-primary btn-block" (click)="SendPassword()">Prosseguir</button>
        <button class="btn btn-lg btn-secundry btn-block" (click)="ReturnLogin()">Voltar</button>
        <p class="mt-5 mb-3 text-muted">© 2017-2018</p>
    </div>
</div>
