<app-gc-message [messages]='messages'></app-gc-message>

<div class="table-responsive" *ngIf="!targetUsuario && !targetNewUsuario">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">CPF</th>
                <th scope="col">Nome</th>
                <th scope="col">Login</th>
                <th scope="col">#</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let oUsuario of lstUsuario">
                <td scope="row">{{oUsuario.Id}}</td>
                <td>{{oUsuario.CPF}}</td>
                <td>{{oUsuario.Nome}}</td>
                <td>{{oUsuario.Login}}</td>
                <td>
                    <a (click)="viewDetail(oUsuario)">
                        <span class="glyphicon glyphicon-edit"></span>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="container" *ngIf="!targetUsuario && !targetNewUsuario">
    <div class="row">
        <div class="col-sm-12 offset-md-6 col-md-6 offset-lg-8 col-lg-4">
            <button style="margin-top:15px;" class="btn btn-lg btn-primary btn-block" (click)="NovoUsuario()">Adicionar</button>
        </div>
    </div>
</div>
<!-- Adicioanr -->
<div *ngIf="targetNewUsuario">
    <app-gc-usuario-detail [(targetUsuario)]="targetNewUsuario" (isEditavel)="true"></app-gc-usuario-detail>
    <div class="container">
        <div class="row">
            <div class="col-sm-12  col-md-6  col-lg-4">
                <button style="margin-top:15px;" class="btn btn-lg btn-secundary btn-block" (click)="return()">Voltar</button>
            </div>
            <div class="col-sm-12 col-md-6 offset-lg-4 col-lg-4" *ngIf="isAdmin()">
                <button style="margin-top:15px;" class="btn btn-lg btn-primary btn-block" (click)="CreateUsuario()">Adicionar</button>
            </div>
        </div>
    </div>
</div>
<!-- alterar -->
<div *ngIf="targetUsuario">
    <app-gc-usuario-detail [(targetUsuario)]="targetUsuario" (isEditavel)='true'></app-gc-usuario-detail>
    <div class="container">
        <div class="row">
            <div class="col-sm-12  col-md-6  col-lg-4">
                <button style="margin-top:15px;" class="btn btn-lg btn-secundary btn-block" (click)="return()">Voltar</button>
            </div>
            <div class="col-sm-12 col-md-6 offset-lg-4 col-lg-4" *ngIf="isAdmin()">
                <button style="margin-top:15px;" class="btn btn-lg btn-primary btn-block" (click)="SetUsuario()">Salvar</button>
            </div>
        </div>
    </div>
</div>