<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">CPF</th>
                <th scope="col">Nome</th>
                <th scope="col">Login</th>
                <th scope="col">#</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let oUsuario of lstUsuario">
                <td scope="row">{{oUsuario.Id}}</td>
                <td>{{oUsuario.CPF}}</td>
                <td>{{oUsuario.Nome}}</td>
                <td>{{oUsuario.Login}}</td>
                <td>
                    <a href="#">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>