<div class="row">
  <div class="col-sm-12 d-none d-sm-block col-md-6 col-lg-8 col-xl-8">
    <!-- BANNER  -->
  </div>

  <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
    <div class="form-signin">
      <div class="card">
        <div class="card-body">
          <h3>Basic Flux</h3>

          <label for="inputEmail">CPF</label>
          <input type="text" (keyup.enter)="Login()" [(ngModel)]="oUsuario.CPF" id="inputEmail" class="form-control" placeholder="Cpf">
          <button style="margin-top: 15px;" class="btn btn-lg btn-primary btn-block" (click)="Login()">Verificar</button>
        </div>
      </div>
    </div>
  </div>

</div>

<app-gc-mensalidade-list *ngIf="oUsuario.Id" [targetUsuario]="oUsuario" [showPay]="true"></app-gc-mensalidade-list>

<p class="mt-5 mb-3 text-muted text-center" style="color: white!important">© 2017-2018</p>
