<div class="text-center">
  <ul class="pagination">
    <li class="page-item ">
      <a class="page-link" tabindex="-1" (click)="mudaMes(-1)">Anterior</a>
    </li>
    <li class="page-item disabled">
      <a class="page-link">{{getMonth()}}</a>
    </li>
    <li class="page-item">
      <a class="page-link" (click)="mudaMes(1)">Próximo</a>
    </li>
  </ul>
</div>
<div class="card" *ngIf="itensAtrasados">
  <div class="card-header">
    Mensalidades Atrasadas
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item table-card">
      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <tbody>
            <tr *ngFor="let item of itensAtrasados">
              <td scope="row">{{item.nome}}</td>
              <td scope="row">{{item.email}}</td>
              <td>{{item.valor | NumberToStringFormat : 2: 'R$': '': ',': '.'}}</td>
              <td>{{item.vencimento | date:'dd/MM/yyyy'}}</td>
              <td>{{item.status}}</td>
            </tr>
          </tbody>
        </table>
        <p class="text-center" *ngIf="!itensAtrasados || itensAtrasados.length == 0">Não há mensalidades cadastradas</p>
      </div>
    </li>
  </ul>
</div>


<div class="card" *ngIf="itensPagos">
  <div class="card-header">
    Mensalidades Pagas
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item table-card">
      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <tbody>
            <tr *ngFor="let item of itensPagos">
              <td scope="row">{{item.nome}}</td>
              <td scope="row">{{item.email}}</td>
              <td>{{item.valor | NumberToStringFormat : 2: 'R$': '': ',': '.'}}</td>
              <td>{{item.vencimento | date:'dd/MM/yyyy'}}</td>
              <td>{{item.status}}</td>
            </tr>
          </tbody>
        </table>
        <p class="text-center" *ngIf="!itensPagos || itensPagos.length == 0">Não há mensalidades cadastradas</p>
      </div>
    </li>
  </ul>
</div>



<div class="card" *ngIf="itensAguardando">
  <div class="card-header">
    Mensalidades Aguardando Pagamento
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item table-card">
      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <tbody>
            <tr *ngFor="let item of itensAguardando">
              <td scope="row">{{item.nome}}</td>
              <td scope="row">{{item.email}}</td>
              <td>{{item.valor | NumberToStringFormat : 2: 'R$': '': ',': '.'}}</td>
              <td>{{item.vencimento | date:'dd/MM/yyyy'}}</td>
              <td>{{item.status}}</td>
            </tr>
          </tbody>
        </table>
        <p class="text-center" *ngIf="!itensAguardando || itensAguardando.length == 0">Não há mensalidades cadastradas</p>
      </div>
    </li>
  </ul>
</div>



<div class="card" *ngIf="itensSemBoleto">
  <div class="card-header">
    Sem Boletos
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item table-card">
      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <tbody>
            <tr *ngFor="let item of itensSemBoleto">
              <td scope="row">{{item.nome}}</td>
              <td scope="row">{{item.email}}</td>
              <td>{{item.valor | NumberToStringFormat : 2: 'R$': '': ',': '.'}}</td>
              <td>{{item.vencimento | date:'dd/MM/yyyy'}}</td>
              <td>{{item.status}}</td>
            </tr>
          </tbody>
        </table>
        <p class="text-center" *ngIf="!itensSemBoleto || itensSemBoleto.length == 0">Não há mensalidades cadastradas</p>
      </div>
    </li>
  </ul>
</div>
